@using System.Threading
@using System.Web.Optimization
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>MiApp</title>
    @*@Styles.Render("~/Bundles/vendor/css")*@


    @RenderSection("styles", required: false)

    <title>SB Admin 2 - Bootstrap Admin Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/Content/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/Content/admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/Content/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript">
        //This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
    </script>
    @Scripts.Render("~/Bundles/vendor/js/top")
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>



    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SB Admin v2.0</a>
        </div>
        @{Html.RenderAction("getButonOfNav", "Layout");}
        @{Html.RenderAction("getSlideMenu", "Layout");}


       
    </nav>
    <div class="container">
        <div id="page-wrapper">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/Bundles/vendor/js/bottom")
 
    @Scripts.Render("~/Bundles/js")

    <script src="~/Scripts/jquery-ui.min.js"
            type="text/javascript"></script>
    <!-- Jtable Files-->
    <link href="~/Content/themes/redmond/jquery-ui-1.8.16.custom.css"
          rel="stylesheet" type="text/css" />
    

    <link href="~/Scripts/jtable/themes/metro/blue/jtable.css"
          rel="stylesheet" type="text/css" />
     

    <!-- Include jTable -->
    <script src="~/Scripts/jtable/jquery.jtable.min.js"
            type="text/javascript"></script>


<!--************************************************************************-->


    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>

    <!-- SignalR scripts -->
    <script src="~/signalr/hubs"></script>
    @Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

    <!-- jQuery -->
    @*<script src="~/Content/admin/vendor/jquery/jquery.min.js"></script>*@
    <!-- Bootstrap Core JavaScript -->
    @*<script src="~/Content/admin/vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <!-- Metis Menu Plugin JavaScript -->
    @*<script src="~/Content/admin/vendor/metisMenu/metisMenu.min.js"></script>*@
    <!-- Morris Charts JavaScript -->




    <script src="~/Content/admin/vendor/morrisjs/morris.min.js"></script>
    <script src="~/Content/admin/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    @*<script src="~/Content/admin/dist/js/sb-admin-2.js"></script>*@

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>

